<div class="flex justify-center items-center min-h-[calc(100vh-80px)]">
  <div class="block p-8 md:bg-white md:px-12 md:pt-14 md:pb-9 sm:w-1/2 xl:w-1/3">
    <h1 class="font-semibold text-3xl">Час повернутися на спот!</h1>
    <p class="mt-3 text-lg font-normal text-gray-600">Ще не зареєстровані? <a class="underline text-blue-700" routerLink="/register">Створити акаунт</a></p>

    <form class="flex flex-col" [formGroup]="form" (ngSubmit)="onSubmit()">
      @let email = form.controls.email;
      @let password = form.controls.password;

      <label class="text-lg mt-7" for="email">Електронна пошта <span class="text-red-600 text-lg">*</span></label>
      <input class="border border-gray-300 px-3 py-1.5 mt-1.5 placeholder-gray-400
         hover:ring-2 hover:ring-blue-400
         focus:ring-2 focus:ring-blue-500 focus:outline-none
         transition-all duration-200" placeholder="Введи свою пошту.." type="email" [maxLength]="100" id="email" name="email" formControlName="email" />

      @if (email.touched && email.invalid) {
        <ul class="errors-list mt-2">
          @if (email.errors?.['required']) {
            <li class="error-message text-red-600">Електронна пошта обов'язкова.</li>
          }
          @if (email.errors?.['email']) {
            <li class="error-message text-red-600">Неправильний формат електронної пошти.</li>
          }
          @if (email.errors?.['maxlength']) {
            <li class="error-message text-red-600">Довжина електронної пошти не має перевищувати 100 символів.</li>
          }
        </ul>
      }

      <label class="text-lg mt-5" for="password">Пароль <span class="text-red-600 text-lg">*</span></label>
      <input class="border border-gray-300 px-3 py-1.5 mt-1.5 placeholder-gray-400
         hover:ring-2 hover:ring-blue-400
         focus:ring-2 focus:ring-blue-500 focus:outline-none
         transition-all duration-200" placeholder="Введи свій пароль.." type="password" id="password" name="password" formControlName="password" />

      @if (password.touched && password.invalid) {
        <ul class="errors-list mt-2">
          @if (password.errors?.['required']) {
            <li class="error-message text-red-600">Пароль обов'язковий.</li>
          }
          @if (password.errors?.['minlength']) {
            <li class="error-message text-red-600">Довжина пароля має бути щонайменше 8 символів.</li>
          }
          @if (password.errors?.['maxlength']) {
            <li class="error-message text-red-600">Довжина пароля не має перевищувати 30 символів.</li>
          }
          @if (password.errors?.['pattern']) {
            <li class="error-message text-red-600">Пароль повинен в собі мати щонайменше одну латинську велику літеру.</li>
            <li class="error-message text-red-600">Пароль повинен в собі мати щонайменше одну латинську маленьку літеру.</li>
            <li class="error-message text-red-600">Пароль повинен в собі мати щонайменше одну цифру.</li>
            <li class="error-message text-red-600">Пароль повинен в собі мати щонайменше один спеціальний символ.</li>
          }
        </ul>
      }

      @if (errorMessage) {
        <span class="error-message text-lg text-red-600 mt-3">{{ errorMessage }}</span>
      }

      <button class="mt-9 bg-blue-600 text-white h-14 text-lg 
         hover:bg-blue-700 hover:shadow-md 
         transition-colors duration-200 
         cursor-pointer" type="submit">Увійти</button>

      <p class="mt-4 text-center">
        <a class="underline  text-blue-700 hover:text-blue-800" routerLink="/forgot-password">
          Забули пароль?
        </a>
      </p>
    </form>

    <div class="flex items-center my-5">
      <hr class="flex-grow border-gray-300">
      <span class="mx-4 text-gray-500">Або увійдіть через</span>
      <hr class="flex-grow border-gray-300">
    </div>

    <div class="flex justify-center">
      <div id="googleButton"></div>
    </div>
  </div>
</div>
