
<div class="flex flex-col p-6 md:py-8 md:px-14 min-h-[calc(100vh-80px)]">
  <div class="flex flex-wrap justify-between items-center">
    <div class="flex items-center w-full sm:w-auto justify-center">
      <a
        routerLink="/"
        class="material-symbols-outlined text-3xl lg:text-4xl pt-1"
        >keyboard_return</a
      >
      @if (cityName) {
        <h2 class="text-2xl lg:text-3xl ml-3">{{ cityName }}, Україна</h2>
      }
    </div>
    @if (spots.length > 0) {
      <div class="w-full sm:w-auto flex justify-center text-center">
        <h3 class="text-lg lg:text-xl font-normal text-gray-500 hover:underline hover:cursor-pointer" (click)="navigateToAddNewSpot()">Бажаєш додати новий спот?</h3>
      </div>
    }
  </div>
  @if (loading) {
    @for (i of [0,1,2]; track $index) {
      <div class="flex flex-col mt-6 lg:mt-3 lg:p-6 gap-8 lg:gap-10">
          <div class="flex flex-wrap border border-gray-300 rounded-2xl overflow-hidden animate-pulse">
            <div class="w-full sm:flex-1 h-52 sm:h-80 bg-gray-200"></div>
            <div class="flex flex-col justify-center text-center w-full sm:flex-1 sm:min-w-[55%] p-7 bg-gray-100 space-y-4">
              <div class="h-6 bg-gray-300 rounded w-3/4 mx-auto"></div>
              <div class="h-4 bg-gray-300 rounded w-5/6 mx-auto"></div>
              <div class="h-4 bg-gray-300 rounded w-1/2 mx-auto"></div>
            </div>
          </div>
      </div>
    }
  }
  @else if (spots.length > 0) {
    <div class="flex flex-col mt-6 lg:mt-3 lg:p-6 gap-8 lg:gap-10">
      @for (spot of spots; track $index) {
        <div class="relative  flex flex-wrap border border-gray-300 rounded-2xl hover:ring-2 hover:ring-blue-400 hover:cursor-pointer
          focus:ring-2 focus:ring-blue-500 focus:outline-none
          transition-all duration-200" (click)="navigateToSpotDetails(spot)">
          <img class="w-full h-52 sm:h-80 overflow-hidden rounded-t-2xl md:rounded-t-none sm:flex-1 sm:min-w-[320px] md:rounded-l-2xl object-cover" [src]="spot.imagesUrls[0]" [alt]="`Картинка для ${$index + 1} споту`" />
          <div class="flex flex-col justify-center text-center w-full sm:flex-1 sm:min-w-[55%] rounded-b-2xl md:rounded-bl-none md:rounded-r-2xl px-7 py-5 bg-white">
            <h3 class="font-semibold text-xl mb-3">
              @if (spot.type == '0') {
                Стріт
              } @else if (spot.type == '1') {
                Парк
              } @else {
                Дьорт
              }
            </h3>
            <p class="line-clamp-4 md:line-clamp-non mb-6">{{ spot.description }}</p>
            @if (authService.hasAdminRights()) {
              <button type="button"
                aria-label="Видалити спот"
                class="material-symbols-outlined text-red-700 text-2xl lg:text-3xl absolute bottom-4 right-4 z-10 hover:text-red-900 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-red-400 rounded-full"
                (click)="$event.stopPropagation(); openConfirm(spot)">
                delete
              </button>
            }
          </div>
        </div>
      }

      @if (showConfirm) {
        <div class="fixed inset-0 bg-transparent backdrop-blur-sm flex items-center justify-center z-50"
            (click)="closeConfirm()">
          <div class="bg-white rounded-2xl w-11/12 max-w-lg p-6 flex flex-col items-center shadow-lg"
              role="dialog" aria-modal="true"
              (click)="$event.stopPropagation()">
            <span class="material-symbols-outlined text-red-700 text-5xl mb-4">warning</span>
            <h2 class="text-xl font-semibold mb-5 lg:mb-8 text-center">
              Ви впевнені, що хочете видалити цей спот?
            </h2>
            <div class="flex flex-wrap justify-center gap-4">
              <button class="px-4 py-2 bg-red-700 text-white rounded-2xl hover:bg-red-900 hover:cursor-pointer transition"
                (click)="confirmDelete()">
                Так, видалити
              </button>
              <button class="px-4 py-2 bg-gray-300 text-gray-700 rounded-2xl hover:bg-gray-400 hover:cursor-pointer transition"
                (click)="closeConfirm()">
                Відмінити
              </button>
            </div>
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="flex items-center justify-center flex-1 flex-col text-center pb-4 md:pb-16">
      <h1 class="font-medium text-lg sm:text-xl lg:text-2xl">
        @if (cityName) {
          На жаль, спотів у місті {{ cityName }} не знайдено :(
        } @else {
          На жаль, спотів у цьому місті не знайдено :(
        }
      </h1>
      <h3 class="mt-4 text-md sm:text-lg lg:text-xl hover:underline hover:cursor-pointer" (click)="navigateToAddNewSpot()">Проте, ти можеш змінити це, натиснувши сюди!</h3>
    </div>
  }
</div>