<div class="flex justify-center items-center min-h-[calc(100vh-80px)]">
  <div class="block p-8 md:bg-white md:px-12 md:pt-14 md:pb-9 sm:w-1/2 xl:w-1/3">
    <h1 class="font-semibold text-3xl">Відновлення пароля</h1>
    <p class="mt-3 text-lg text-gray-600">
      Введіть новий пароль для вашого акаунту {{ email }}
    </p>

    <form class="flex flex-col" [formGroup]="form" (ngSubmit)="onSubmit()">
      @let password = form.controls.password;
      @let confirmPassword = form.controls.confirmPassword;

      <label class="text-lg mt-5" for="password">
        Новий пароль <span class="text-red-600">*</span>
      </label>
      <input
        class="border border-gray-300 px-3 py-1.5 mt-1.5 placeholder-gray-400
          hover:ring-2 hover:ring-blue-400
          focus:ring-2 focus:ring-blue-500 focus:outline-none
          transition-all duration-200"
        placeholder="Введіть новий пароль"
        type="password"
        id="password"
        name="password"
        formControlName="password"
      />

      @if (password.touched && password.invalid) {
        <ul class="errors-list mt-2">
          @if (password.errors?.['required']) {
            <li class="text-red-600">Пароль обов'язковий.</li>
          }
          @if (password.errors?.['minlength']) {
            <li class="text-red-600">Пароль має містити щонайменше 8 символів.</li>
          }
          @if (password.errors?.['maxlength']) {
            <li class="text-red-600">Пароль не має перевищувати 30 символів.</li>
          }
          @if (password.errors?.['pattern']) {
            <li class="text-red-600">Пароль повинен містити велику та малу літери, цифру і спеціальний символ.</li>
          }
        </ul>
      }

      <label class="text-lg mt-5" for="confirmPassword">
        Повтор пароля <span class="text-red-600">*</span>
      </label>
      <input
        class="border border-gray-300 px-3 py-1.5 mt-1.5 placeholder-gray-400
          hover:ring-2 hover:ring-blue-400
          focus:ring-2 focus:ring-blue-500 focus:outline-none
          transition-all duration-200"
        placeholder="Повтори пароль.."
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        formControlName="confirmPassword"
      />

      @if (confirmPassword.touched && confirmPassword.invalid) {
        <ul class="errors-list mt-2">
          @if (confirmPassword.errors?.['required']) {
            <li class="text-red-600">Підтвердження пароля обов'язкове.</li>
          }
        </ul>
      }

      @if (confirmPassword.touched && form.errors?.['passwordMismatch']) {
        <ul class="errors-list">
            <li class="error-message text-red-600 mt-2">Паролі повинні збігатися.</li>
        </ul>
      }

      @if (errorMessage) {
        <span class="text-lg text-red-600 mt-3">{{ errorMessage }}</span>
      }
      
      @if (message) {
        <span class="text-lg text-green-700 mt-3">{{ message }}</span>
      }

      <button
        class="mt-8 bg-blue-600 text-white h-14 text-lg
          hover:bg-blue-700 hover:shadow-md
          transition-colors duration-200
          cursor-pointer"
        type="submit">
        Змінити пароль
      </button>
    </form>

    <p class="mt-6 text-center text-gray-600">
      <a class="underline text-blue-700 hover:text-blue-800" routerLink="/login">
        Повернутися до входу
      </a>
    </p>
  </div>
</div>
